.about-bg{
    background-color: #cbc3e3;
    width: 100vw;
}

.about-header{
    justify-content: center;
    text-align: center;
    padding-block: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.about-container {
    text-align: center;
    padding-left: 27.5vw;
  }
  
.centered-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}